body{
    color:black;
}

#question{
    font-size: 34px;
    margin-bottom: 10px;
    padding: 10px;
}



button{
    display: flex;
    font-size: 22px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgb(3, 125, 142);
    min-width: 100px;
}

button:hover{
    box-shadow:0 6px 11px 0 rgb(4, 117, 134);
    cursor: pointer;
    transition: transform 150ms;
    background: linear-gradient(90deg, rgb(2, 79, 89) 0%, rgb(6, 165, 197) 100%);

}

#btn-1{
    display: flex;
    font-size: 22px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgb(3, 125, 142);
    min-width: 600px;
    background: linear-gradient(90deg, rgb(6, 165, 197) 0%, rgb(2, 79, 89)100%);

}


#btn-2{
    display: flex;
    font-size: 22px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgb(3, 125, 142);
    min-width: 600px;
    background: linear-gradient(90deg, rgb(6, 165, 197) 0%, rgb(2, 79, 89)100%);

}

#btn-3{
    display: flex;
    font-size: 22px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgb(3, 125, 142);
    min-width: 600px;
    background: linear-gradient(90deg, rgb(6, 165, 197) 0%, rgb(2, 79, 89)100%);

}

#btn-4{
    display: flex;
    font-size: 22px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgb(3, 125, 142);
    min-width: 600px;
    background: linear-gradient(90deg, rgb(6, 165, 197) 0%, rgb(2, 79, 89)100%);

    
}



/* Score display */
#hud{
    display: flex;
    justify-content: space-between;
    justify-content: end;
    font-size: 16px;

}

#hud h1{
    font-size: 20px;
}

#score{
    margin-top:20px;
    align-items:flex-end;
    color: rgb(0, 0, 0);   

}

.hud-prefix{
    font-size: 20px;
    margin-top: 50px;
    color: rgb(0, 0, 0);   

}

.timer-count{
    display: flex;
    justify-content: center;
    font-size: 25px;

}

 h3{
    display: flex;
    justify-content: center;
    font-size: 18px;

}